.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  height: 42px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  --font-size: 'input';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.btn:disabled {
  background-color: #E1E1E1;
  color: #999999;
  cursor: not-allowed;
}
.btn:disabled:hover {
  background-color: #E1E1E1;
}
.btn-link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  height: 42px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 14px;
  --font-size: 'input';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  color: #218BCB;
  font-family: "Roboto", sans-serif;
  border-width: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}
.btn-link:disabled {
  background-color: #E1E1E1;
  color: #999999;
  cursor: not-allowed;
}
.btn-link:disabled:hover {
  background-color: #E1E1E1;
}
.btn-link:hover {
  color: #1a6d9f;
}
.btn-inline {
  color: #218BCB;
  font-family: "Roboto", sans-serif;
  border-width: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}
.btn-inline:hover {
  color: #1a6d9f;
}
.btn-primary {
  color: #FFF;
  background-color: #218BCB;
  border-radius: 4px;
}
.btn-primary:hover {
  background-color: #1a6d9f;
}
.btn-primary[data-loading="true"],
.btn-primary[data-loading="true"]:hover {
  color: rgba(0, 0, 0, 0);
  cursor: wait;
  background-color: #218BCB;
}
.btn-primary[data-loading="true"] [data-ui="Spinner"] {
  position: absolute;
  height: 24px;
  top: 9px;
  left: 50%;
  margin-left: -12px;
}
.btn-primary[data-loading="true"] [data-ui="Spinner"],
.btn-primary[data-loading="true"] [data-ui="Spinner"] [data-ui="SpinnerLine"] {
  width: 24px;
  height: 24px;
}
.btn-primary[data-loading="true"] [data-ui="Spinner"] [data-ui="SpinnerLine"] {
  border-width: 3px;
}
.btn-primary[data-loading="true"] [data-ui="Spinner"] [data-ui="SpinnerLine"] {
  border-color: #FFF;
  border-color: #FFF transparent transparent transparent;
}
.btn-primary[data-loading="true"] [data-ui="Spinner"] [data-ui="SpinnerLine"] {
  border-color: #FFF;
  border-color: #FFF transparent transparent transparent;
}
.btn-danger {
  color: #FFF;
  background-color: #B62537;
  border-radius: 4px;
}
.btn-danger:hover {
  background-color: #8c1c2a;
}
.btn-danger[data-loading="true"],
.btn-danger[data-loading="true"]:hover {
  color: rgba(0, 0, 0, 0);
  cursor: wait;
  background-color: #B62537;
}
.btn-danger[data-loading="true"] [data-ui="Spinner"] {
  position: absolute;
  height: 24px;
  top: 9px;
  left: 50%;
  margin-left: -12px;
}
.btn-danger[data-loading="true"] [data-ui="Spinner"],
.btn-danger[data-loading="true"] [data-ui="Spinner"] [data-ui="SpinnerLine"] {
  width: 24px;
  height: 24px;
}
.btn-danger[data-loading="true"] [data-ui="Spinner"] [data-ui="SpinnerLine"] {
  border-width: 3px;
}
.btn-danger[data-loading="true"] [data-ui="Spinner"] [data-ui="SpinnerLine"] {
  border-color: #FFF;
  border-color: #FFF transparent transparent transparent;
}
.btn-danger[data-loading="true"] [data-ui="Spinner"] [data-ui="SpinnerLine"] {
  border-color: #FFF;
  border-color: #FFF transparent transparent transparent;
}
.btn-outline-primary {
  color: #218BCB;
  border-width: 1px;
  border-style: solid;
  border-color: #218BCB;
  border-radius: 4px;
}
.btn-outline-primary:hover {
  color: #1a6d9f;
  border-color: #1a6d9f;
  background-color: rgba(33, 139, 203, 0.1);
}
.btn-outline-danger {
  color: #B62537;
  border-width: 1px;
  border-style: solid;
  border-color: #B62537;
  border-radius: 4px;
}
.btn-outline-danger:hover {
  color: #8c1c2a;
  border-color: #8c1c2a;
  background-color: rgba(182, 37, 55, 0.1);
}
